@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

@{
    ViewBag.Title = "Error";
}

@*<h2>Error</h2>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Error</title>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div>
        <h1>MVC Custom Error</h1>
        Controller: @Model.ControllerName <br />
        Action: @Model.ActionName <br />
        Message: @Model.Exception.Message
    </div>
</body>
</html>
